/* =============================================================================
   Shared global styles.
   ========================================================================== */

body {
  background: @colorBlue;
}


.appWrapper {
  min-width: 980px;
}

/* =============================================================================
   Login page.
   ========================================================================== */

.loginWrapper {
  margin: 200px auto 0 auto;
  width: 800px;
}

.loginFormWrapper,
.registerFormWrapper {
  float: left;
  width: 400px;
}
