<!DOCTYPE html>
<html>
<head>
    <title>TODOAPP - demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="css/main.css" rel="stylesheet" media="all" />
    <script data-main="js/app-bootstrap" src="js/lib/require.js"></script>
</head>
<body>
<div id="app-wrapper" class="app-wrapper">
    <div id="left-panel" class="left-panel"></div>
    <div id="right-panel" class="right-panel"></div>
    <div id="middle-panel" class="middle-panel clearfix"></div>
</div>
</body>
</html>