<!DOCTYPE html>
<html>
<head>
    <title>TODOAPP - demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="css/main.css" rel="stylesheet" media="all" />
    <script data-main="js/main-bootstrap" src="js/lib/require.js"></script>
</head>
<body>

<div id="left-panel" class="left-panel">
    <div id="tools" class="tools"></div>
    <div id="categories" class="categories">
        <ul>
            <li>Work (6)</li>
            <li>Home (5)</li>
            <li>Other (12)
                <ul>
                    <li>Freelancer (3)</li>
                    <li>Coding (5)</li>
                    <li>Pricing (4)</li>
                </ul>
            </li>
            <li>Peace (1)</li>
            <li>Uncategorized (40)</li>
        </ul>
    </div>
</div>
<div id="lists-view" class="lists-view"></div>
<div id="task-view" class="lists-view"></div>

</body>
</html>