<!DOCTYPE html>
<html>
<head>
    <title>TODOAPP - demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="css/main.css" rel="stylesheet" media="all" />
    <script data-main="js/login-bootstrap" src="js/lib/require.js"></script>
</head>
<body>
<div class="app-wrapper">

    <div class="login-wrapper clearfix">
        <div class="title-wrapper">
            <h1 class="site-title">ToDoApp</h1>
            <h2 class="tagline">All you ever need to do is...</h2>
        </div>
        <div id="login" class="login-form-wrapper"></div>
        <div id="register" class="register-form-wrapper flip-container"></div>

    </div>

</div>
</body>
</html>