<!DOCTYPE html>
<html>
<head>
    <title>TODOAPP - demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="css/main.css" rel="stylesheet" media="all" />
    <script data-main="js/login-bootstrap" src="js/lib/require.js"></script>
</head>
<body>
<div class="appWrapper">

    <div class="loginWrapper clearfix">

        <div id="login" class="loginFormWrapper"></div>
        <div id="register" class="registerFormWrapper"></div>

    </div>

</div>
</body>
</html>